@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}
<body>
    <div class="col-12">
        <div class="col-md-12 grided">
            @if (SignInManager.IsSignedIn(User))
            {
                <a class="button" href="../Tickets/Create">Tickets</a>
            }
            else
            {
                <a class="button" asp-area="Identity" asp-page="/Account/Manage/Index">Login</a>
            }
            <a class="button" href="../Flights/IndexRest">Flights</a>
        </div>
    </div>
</body>
<!--test section below!!!!!!!!!!!!!!!!!-->
<head>
    <meta name="viewport" content="width=device-width height=device-height">
    <style>
        .grided {
            display: inline-grid;
            grid-gap: 10px 10px;
            justify-items: center;
            align-items: center;
            margin: auto;
        }

        .button {
            font-size: 48px;
            padding: 10px 10px;
            text-align: center;
            cursor: pointer;
            outline: dashed;
            color: #fff;
            background-color: #00a9ff;
            outline-color: #ffffff;
            color: #ffffff;
        }
            .button:hover {
                outline: solid;
                outline-color: #ffffff;
                color: #ffffff;
            }
            .button:active {
                outline: solid;
                outline-color: #ffffff;
                color: #ffffff;
            }
    </style>
</head>